@inject IAgentService agentService
<ul class="navbar-nav flex-grow-1">
	
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Admin" asp-controller="Hotel" asp-action="Add">Add new hotel</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Admin" asp-controller="Agent" asp-action="All">All agents</a>
	</li>
	
	}
</ul>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}