@model IList<HotelIndexServiceModel>


@{
    ViewData["Title"] = "Home Page";
    var houses = Model.ToList();
}

@if (!Model.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to Prime Tour Operator Agency, we can offer yot the best vacation offers and perfect seasonal job offers!</h1> 
    </div>
}

<div class="mb-5"></div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-interval="2000">
    <div class="carousel-inner">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var house = houses[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:500px"
                     src="@Model[i].Image" alt="Model[i].Image">
                <div class="carousel-caption d-none d-md-block" style="background-color: gold; padding: 2px;">
                    <h5 style="color: black;">@Model[i].Name</h5>
                    <p style="color: black">@Model[i].Rating</p>
                </div>
                
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.carousel').carousel();
        });
    </script>
}